body {
  display: flex;
  flex-direction: column;
  height: 95vh;
  background-color: #f4f4f3;
  font-family: monospace;
}

#hpBar {
  width: 500px;
  margin-left: 50px;
  border: 2px solid black;
}

#hpBarInner {
  height: 20px;
  background-color: red;
  width: 500px;
}

#game {
  background-color: grey;
  border: 2px solid black;
  margin: auto;
  margin-left: 50px;
}

#minimap {
  background-color: grey;
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

#gameContainer {
  margin: auto;
}

#playerCount {
  width: 500px;
  margin-left: 50px;
  text-align: center;
  font-size: x-large;
}

#header {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  margin-top: 10px;
}
